*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, san-serif;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(86, 74, 138);
  color: aliceblue;
  padding-top: 20px;
}

.title {
  font-size: 1rem
}

.center ul li {
   list-style: none;
   display: inline-flex;
   margin: 0px 15px;
}

.left {
  flex: 2;
  /* border: 1px solid black; */
}

.right {
  flex: 4;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.center {
  flex: 4;
  /* border: 1px solid black; */
}

.search {
  flex: 2;
  /* border: 1px solid black; */
}

.search input {
  padding: 10px;
  width: 20rem;
  border-radius: 5px;
  margin-left: -50px;

}

.bannerBox {
  margin: 5px 0px;
}

.bannerBox img {
  width: 100%;
}

.menImages {
  display: flex;
  gap: 10px;
}

.menImages img {
  height: 220px;
  width: 250px;
}

.womanImages {
  display: flex;
  gap: 10px;
}

.womanImages img {
  height: 220px;
  width: 250px;
}